In [1]:
# importing required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings

# Setting default options
warnings.filterwarnings("ignore")
pd.set_option("mode.copy_on_write", True)

In [2]:
# loading the Data
# df = pd.read_csv("../01_Data/01_Raw/insurance_data_cleaned.csv")
df = pd.read_csv("/Users/revanth/Downloads/insurance_data_cleaned (1).csv")
df.sample(5)

,YEAR,SEX,RACENEW,INCFAM97ON2,HINOTCOVE,CNLUNG,SMK,Occupation_Code
585061,2006,2,200.0,10.0,2.0,1.0,2,11
180608,2001,1,100.0,30.0,1.0,1.0,0,0
581041,2006,1,100.0,30.0,1.0,1.0,0,0
1085518,2012,1,100.0,31.0,1.0,1.0,1,12
215818,2002,1,541.0,20.0,1.0,1.0,0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697896 entries, 0 to 1697895
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   YEAR             int64
 1   SEX              int64
 2   RACENEW          float64
 3   INCFAM97ON2      float64
 4   HINOTCOVE        float64
 5   CNLUNG           float64
 6   SMK              int64
 7   Occupation_Code  int64
dtypes: float64(4), int64(4)
memory usage: 103.6 MB

In [4]:
df.describe()

,YEAR,SEX,RACENEW,INCFAM97ON2,HINOTCOVE,CNLUNG,SMK,Occupation_Code
count,1.697896e+06,1.697896e+06,1.697896e+06,1.697896e+06,1.697896e+06,1.697896e+06,1.697896e+06,1.697896e+06
mean,2.008943e+03,1.513977e+00,1.478627e+02,2.220655e+01,1.153564e+00,1.000926e+00,4.867907e-01,2.696913e+00
std,5.469550e+00,4.998047e-01,1.047671e+02,2.076822e+01,3.605306e-01,3.042340e-02,7.823743e-01,6.277511e+00
min,2.000000e+03,1.000000e+00,1.000000e+02,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,2.004000e+03,1.000000e+00,1.000000e+02,1.000000e+01,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
50%,2.009000e+03,2.000000e+00,1.000000e+02,2.000000e+01,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
75%,2.014000e+03,2.000000e+00,1.000000e+02,3.100000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
max,2.018000e+03,2.000000e+00,5.410000e+02,9.600000e+01,2.000000e+00,2.000000e+00,2.000000e+00,3.300000e+01

In [5]:
rows_before = df.shape[0]

In [6]:
# NIU List, values which need to be removed
remap_race = [530, 541]
remap_smk = [0]
remap_inc = [0]
remap_occ = [0]

In [7]:
# Removing the NIU values
df = df[~df["RACENEW"].isin(remap_race)]
df = df[~df["SMK"].isin(remap_smk)]
df = df[~df["INCFAM97ON2"].isin(remap_inc)]
df = df[~df["Occupation_Code"].isin(remap_occ)]

In [8]:
rows_after = df.shape[0]

print(f"Inital Rows: {rows_before}")
print(f"Final Rows: {rows_after}")
print(f"Rows Removed: {rows_before - rows_after}")
print(f"Percentage Removed: {((rows_before - rows_after) / rows_before) * 100:.2f}%")

Inital Rows: 1697896
Final Rows: 409638
Rows Removed: 1288258
Percentage Removed: 75.87%

Validation

In [9]:
df_cols = df.columns

for col in df_cols:
    print(f"{col}: {df[col].unique()}")

YEAR: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018]
SEX: [2 1]
RACENEW: [100. 200. 400. 300. 520.]
INCFAM97ON2: [30. 96. 10. 20. 32. 31.]
HINOTCOVE: [1. 2.]
CNLUNG: [1. 2.]
SMK: [1 2]
Occupation_Code: [25 30 22 20 19 27  6 33 32 29 31 24  2  3 16  9 11  8 12 13 18  5  1  4
 23  7 21 10 17 15 14 26 28]

In [10]:
# saving the cleaned data
df.to_csv("../01_Data/02_Processed/01_Insurance_NoMissing.csv", index=False)